# Written by Terraform
terraform/.terraform*
terraform.tfstate*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
venv/
.python-version
.vscode/

# Environment
.env
.secrets

# Misc
terraform-service-key.json
