server {
    listen      80 default_server;

    proxy_redirect      off;
    proxy_set_header    X-Real-IP $remote_addr;
    proxy_set_header    X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header    Host $http_host;

    location /api/ {
        proxy_pass ${PROXY_PASS_API_URL};
    }

    location /rpc/ {
        proxy_pass ${PROXY_PASS_RPC_URL};
    }

    location /evm_rpc/ {
        proxy_pass ${PROXY_PASS_EVM_RPC_URL};
    }
}
